<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}<span class="accent">{{ site.accent }}</span></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.author }}</li>
          <li>{{ site.location }}</li>
          <li>Copyright © Rhyme by Design 2015</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li class="footer-icon">
            <a href="https://github.com/rhymexdesign" target="blank">
              <img src="https://raw.githubusercontent.com/rhymexdesign/rhymexdesign.github.io/master/_images/github.png" alt="">
            </a>
          </li>
          <li class="footer-icon">
            <a href="https://twitter.com/rhymexdesign" target="blank">
              <img src="https://raw.githubusercontent.com/rhymexdesign/rhymexdesign.github.io/master/_images/twitter.png" alt="">
            </a>
          </li>
          <li class="footer-icon">
            <a href="https://facebook.com/maker.tolentino" target="blank">
              <img src="https://raw.githubusercontent.com/rhymexdesign/rhymexdesign.github.io/master/_images/facebook.png" alt="">
            </a>
          </li>
          <li class="footer-icon">
            <a href="https://rhymexdesign.slack.com/" target="blank">
              <img src="https://raw.githubusercontent.com/rhymexdesign/rhymexdesign.github.io/master/_images/slack.png" alt="">
            </a>
          </li>
          <li class="footer-icon">
            <a href="mailto:rhymexdesign@gmail.com">
              <img src="https://raw.githubusercontent.com/rhymexdesign/rhymexdesign.github.io/master/_images/email.png" alt="">
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
