<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">
      <div class="site-splash">
        <div class="site-banner">
          <div class="site-banner--image">
            <img src="https://raw.githubusercontent.com/rhymexdesign/rhymexdesign.github.io/master/_includes/images/rhyme_x_design_logo_grey.png" alt="">
          </div>
          <div class="site-banner--description">
            <h2>Th<span class="accent">ink</span> game, heavy</h2>
            <p>Rhyme by Design is essentially a design and research-based hip hop project that flips the typical artist-audience dynamic. Instead of having an emcee spittin dope shit in hopes of connecting to the fans, that connection is established from the get go, and is determined by <em>Design Thinking!</em></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="page-content--HOME">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
