<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">
      <div class="site-splash">
        <div class="site-banner">
          <div class="site-banner--image">
            <img src="https://raw.githubusercontent.com/rhymexdesign/rhymexdesign.github.io/master/_includes/images/rhyme_x_design_logo_grey.png" alt="">
          </div>
          <div class="site-banner--description">
            <h2>People driven</h2>
            <p>In typical music artistry, the dynamic is pretty straight forward - artists create and the people listen. Now, imagine it was the other way around, where the artist designed their work, based off of the listener's needs. This project, Rhyme X Design, aims to do just that.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
