<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">
      <div class="site-splash">
        <div class="site-banner">
          <div class="site-banner--image">
            {% include images/rhyme_x_design_logo.png %}
          </div>
          <div class="site-banner--description">
            <h2>People driven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eum eius inventore facere officiis perferendis fuga itaque quas repellendus veritatis, recusandae dolores tenetur alias? Dolorum aspernatur voluptatem repellat earum, consequatur.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
